{   
    debug
    log
    local_certs      
}


http://127.0.0.1 {

    encode gzip
    
    handle_path /api/discovery-service/* {
        reverse_proxy http://127.0.0.1:3000
    }
    
    handle_path /api/auth-service/* {
        reverse_proxy http://127.0.0.1:3001
    }
    
    handle {
        root ./public
        file_server browse
    }

}